/* primary bg is set to dark charcoal (Hex code #333333) for a better viewing experience in low light environments, less bright colours on screen as the purpose of the player is for music for relaxation/study */
/* Main text colour has been set to "gainsboro" (Hex code #DCDCDC) to be less harsh against the dark backgrounds to be easier on the eyes than pure white */
:root {
  --primary-bg-color: #000000;
  --text-color: #dcdcdc;
  --main-bg-color: #181818;
  --main-text-color: #dcdcdc;
  --main-btn-bg-color: #181818;
}

body,
h1,
p,
ul {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Helvetica", sans-serif;
  background-color: var(--primary-bg-color);
  color: var(--text-color);
  line-height: 1.6;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

/* Add additional styles as needed */

/* Create a container for the main content */
.container {
  max-width: 1000px;
  width: 100%;
  padding: 10px;
}

/* Header styling */
/* Made heading text bolder */
header {
  background-color: var(--main-bg-color);
  color: var(--main-text-color);
  padding: 10px 5px;
  text-align: center;
  width: 100%;
  font-weight:550;
}

/* Navigation styling */
nav {
  margin-top: 20px;
  text-align: center;
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: center;
}

nav ul li {
  margin-right: 20px;
}

nav a {
  text-decoration: none;
  color: var(--text-color);
}

.track-info {
flex-direction: column;
display: flex;
align-items: center;
}

.track-title {
  font-size: 1rem;
}
.track-artist{
  font-size: 1rem;
}

/* Media player styling */
.media-player {
  width: 100%;
  margin: 0 auto;
}

.media-player video {
  max-width: 100%;
}

/* progress bar should be above controls*/
.progress-bar {
  width: 100%;
  height: 10px;
  background-color: #181818;
  margin-top: 10px;
  overflow: hidden;
}

.progress-bar span {
  display: block;
  height: 100%;
  background-color: var(--text-color);
  width: 0;
  transition: width 0.3s ease;
}

.custom-controls {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin-top: 10px;
  width: 100%;
}
/* controls under the div class "right-controls" */
/* intended to be aligned to the right, away from the rest of the buttons. */
/* mute/volume button doesnt align vertically witht the other buttons unless set to align-self: right */
/* also seems to work if i put "flex flex-end", not just flex-end */
/*not aligning to the right still? still grouped with the others */
/* maybe get rid of the justify content? */
.custom-controls .right-controls {
  align-self: flex flex-end;
}

.custom-controls button {
  background-color: var(--main-btn-bg-color);
  color: var(--main-text-color);
  border: none;
  padding: 8px 12px;
  cursor: pointer;
  font-size: 16px;
  display: flex;
  align-items: center;
}





/* Footer styling */
footer {
  background-color: var(--main-bg-color);
  color: var(--main-text-color);
  text-align: center;
  padding: 10px 0;
  width: 100%;
}
