body {background-color: lightcyan;}
h1 {font-family: "Helvetica", sans-serif ;
    margin-left: 2%; 
    margin-top: 2%;
    font-weight: 400;
}
h2 {font-family: "Helvetica", sans-serif ;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 4%;
    text-align: center;
}
h3 {font-family: "Helvetica", sans-serif ;
    text-align: center;
    margin-left: 3%;
    margin-right: 3%;
    font-weight: 400;
    
}
a {font-family: "Helvetica", sans-serif ;}
p {font-family: "Helvetica", sans-serif ;}

.image1 {
    float: right;
    height: auto;
    width: 50%;
    margin-right: 2%;
    margin-top: 5%;
}
.para1 {font-family: "Helvetica", sans-serif ;
float: left;
text-align: left;
margin-left: 2%;
margin-top: 7%;
width: 45%;}